VITE_API_URL=https://localhost:5001/api
VITE_LOCALTION_IQ=''
VITE_COMMENT_URL=https://localhost:5001/comments
VITE_SIGNALR_CONNECTION_METHOD_NAME="LoadComments"
VITE_SIGNALR_RECEIVE_METHOD_NAME="ReceiveComment"
VITE_GITHUB_CLIENT_ID="Ov23li4B6d1LN1BryO4i"
VITE_REDIRECT_URL="https://localhost:3000/auth-callback"