DATABASE_URL="Server=localhost,1434;Database=reactivity;User ID=sa;Password=Hello123987;TrustServerCertificate=true;"
DEVELOPMENT="Development"
PASSWORD=Pa\$\$w0rd
API=api
# Below from Cloudinary API
# https://cloudinary.com/
CLOUD_NAME='dq4g4ggwx'
CLOUD_API_KEY=''
CLOUD_API_SECRET=''
FOLDER=Reactivities2026
SIGNALR_CONNECTION_METHOD_NAME="LoadComments"
SIGNALR_SEND_METHOD_NAME="ReceiveComment"
COMMENT_PATH="/comments/"